node_modules/

/dist/
/tmp/
/out-tsc/

.angular/

.env
.env.local
.env.*.local

.idea/
.project
.classpath
.settings/
*.launch
*.sublime-workspace
.history/

# Visual Studio Code
.vscode/*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

.sass-cache/
/coverage/
*.tsbuildinfo
__screenshots__/
bun.lock