@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(98% 0.007 152.79);
  --color-base-200: oklch(95% 0.013 153.03);
  --color-base-300: oklch(90% 0.022 153.24);
  --color-base-content: oklch(24% 0.033 158.3);
  --color-primary: oklch(49% 0.077 166.038);
  --color-primary-content: oklch(98% 0.01 166.738);
  --color-secondary: oklch(69% 0.062 160.55);
  --color-secondary-content: oklch(20% 0.05 160.576);
  --color-accent: oklch(86% 0.044 160.985);
  --color-accent-content: oklch(24% 0.03 159.3);
  --color-neutral: oklch(35% 0.044 165.341);
  --color-neutral-content: oklch(98% 0.01 166.04);
  --color-info: oklch(60% 0.074 170.513);
  --color-info-content: oklch(20% 0.05 170.54);
  --color-success: oklch(57% 0.101 156.11);
  --color-success-content: oklch(98% 0.01 156.791);
  --color-warning: oklch(65% 0.119 76.432);
  --color-warning-content: oklch(20% 0.05 76.439);
  --color-error: oklch(56% 0.139 22.641);
  --color-error-content: oklch(98% 0.01 22.052);
  --radius-selector: 0.75rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: oklch(22% 0.02 160);
  --color-base-200: oklch(26% 0.023 160);
  --color-base-300: oklch(31% 0.026 160);
  --color-base-content: oklch(93% 0.012 155);
  --color-primary: oklch(72% 0.08 160);
  --color-primary-content: oklch(20% 0.02 160);
  --color-secondary: oklch(58% 0.055 160);
  --color-secondary-content: oklch(96% 0.01 160);
  --color-accent: oklch(40% 0.04 160);
  --color-accent-content: oklch(94% 0.012 160);
  --color-neutral: oklch(18% 0.012 160);
  --color-neutral-content: oklch(94% 0.012 160);
  --color-info: oklch(70% 0.08 190);
  --color-info-content: oklch(18% 0.02 190);
  --color-success: oklch(72% 0.11 155);
  --color-success-content: oklch(18% 0.02 155);
  --color-warning: oklch(76% 0.13 80);
  --color-warning-content: oklch(18% 0.02 80);
  --color-error: oklch(68% 0.14 25);
  --color-error-content: oklch(18% 0.02 25);
  --radius-selector: 0.75rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

:root {
  color: var(--color-base-content);
  background-color: var(--color-base-200);
}

html,
body {
  background-color: var(--color-base-200);
}
